<div class="left-header"></div>
<img src="../assets/photo.JPG" alt="">
<div class="left-content">
  <!-- <div class="left-header"></div> -->
  <h1 class="username">{{loginService.userInfo.username}}</h1>
  <p class="profile">🐑🐑🐑三只羊🐑🐑🐑🐑四只羊🐑🐑🐑🐑🐑五只羊</p>
  <div class="icons">
    <a href="#">
      <fa-icon [icon]="faCamera" size="lg"></fa-icon>
    </a>
    <a href="#">
      <fa-icon [icon]="faDove" size="lg"></fa-icon>
    </a>
    <a href="#">
      <fa-icon [icon]="faWifi" size="lg"></fa-icon>
    </a>
    <a href="#">
      <fa-icon [icon]="faLaptop" size="lg"></fa-icon>
    </a>
    <a href="#" style="margin-right: 0;">
      <fa-icon [icon]="faDragon" size="lg"></fa-icon>
    </a>
  </div>
</div>