<ul class="nav nav-tabs" >
    <li role="presentation" routerLinkActive="active">
      <a [routerLink]="[ '/admin/article']">文章管理</a>
    </li>
    <li role="presentation" routerLinkActive="active">
      <a [routerLink]="[ '/admin/tag' ]">标签管理</a>
    </li>
    <li role="presentation" routerLinkActive="active">
      <a [routerLink]="[ '/admin/user']">用户管理</a>
    </li>
    <!-- <li role="presentation" routerLinkActive="active">
      <a [routerLink]="[ '/admin/peimission']">权限管理</a>
    </li> -->
  </ul>