<div>
  <span>近期文章</span>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let article of lastestArticles">
      <a [routerLink]="[ '/article/', article.id ]">{{article.title}}</a>
    </li>
  </ul>
</div>
<div>
  <span>文章归档</span>
  <ul class="list-group" >
    <li class="list-group-item" *ngFor="let achieve of achieves" (click)="articleFilter(achieve)">
      <a [routerLink]="[ '/achieves']">{{achieve.year}}年{{achieve.month}}月({{achieve.articleCount}})</a>
    </li>
  </ul>
</div>

<div>
  <span>标签</span>
  <ul class="list-group tags" *ngFor="let tag of tags">
    <li class="label label-primary" (click)="getArticlesByTag(tag)">
      <a [routerLink]="[ '/']">{{tag.name}}</a>
    </li>
  </ul>
</div>