<router-outlet></router-outlet>
<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active">
      <a [routerLink]="[ '/admin']">文章管理</a>
    </li>
    <li role="presentation">
      <a [routerLink]="[ '/admin/tag' ]">标签管理</a>
    </li>
    <li role="presentation">
      <a [routerLink]="[ '/admin/user']">用户管理</a>
    </li>
    <li role="presentation">
      <a [routerLink]="[ '/admin/peimission']">权限管理</a>
    </li>
  </ul>

  <!-- 排序方式 -->
  <div class="row dropdown">
    <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
        aria-controls="dropdown-basic">
        排序方式<span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic"
        (click)="sort($event)">
        <li role="menuitem"><a class="dropdown-item" ng-href="" (click)="sort('clickTimes', $event)">最热门文章</a></li>
        <li role="menuitem"><a class="dropdown-item" ng-href="" (click)="sort('title', $event)">按标题排序</a></li>
        <!-- <li role="menuitem"><a class="dropdown-item" ng-href="" (click)="sort('target', $event)">按标签排序</a></li> -->
      </ul>
    </div>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <td>ID</td>
          <td>标题</td>
          <td>标签</td>
          <td>作者</td>
          <td>阅读量</td>
          <td>时间</td>
          <td>编辑</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles">
          <td>{{article.id}}</td>
          <td>{{article.title}}</td>
          <td>
            <span *ngFor="let tag of article.tags">{{tag.name}}&nbsp;&nbsp;</span>
          </td>
          <td>{{article.user.username}}</td>
          <td>{{article.clickTimes}}</td>
          <td>{{article.createdAt | date:"short"}}</td>
          <td>
            <span class="glyphicon glyphicon-pencil icon" (click)="editModal(template, article.id)"
              [attr.article-id]="article.id"></span>
            <span class="glyphicon glyphicon-trash icon" (click)="deleteModal(template1, article.id)"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 分页器 -->
  <div class="row">
    <div class="col-xs-12 col-12">
      <pagination [totalItems]="pageNation.total" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)">
      </pagination>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">编辑文章</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-article-editor [articleId]="currId"></app-article-editor>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">取消</span>
    </button>
    <button type="button" class="btn btn-primary" aria-label="OK" (click)="refresh()">
      <span aria-hidden="true">确定</span>
    </button>
  </div>
</ng-template>

<ng-template #template1>
  <div class="modal-header">
    <h4 class="modal-title pull-left">删除文章</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    是否要删除该文章？
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">取消</span>
    </button>
    <button type="button" class="btn btn-primary" aria-label="OK" (click)="deleteArticle()">
      <span aria-hidden="true">确定</span>
    </button>
  </div>
</ng-template>